{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}

{% block content %}
    <div class="container">
        <h2>Cart</h2>
        {% if cart_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price per unit</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }} PLN</td>
                            <td>{{ item.total_price }} PLN</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td>{{total_price}} PLN</td>
                        </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
            </div>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}
